<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <div class="well">
        <center>
            <h1>#Sadpanda</h1>

            <h3>Seems like no student has studied!</h3>
            <h4><a href="<%= profilePath %>"> Return to Dashboard </a></h4>
        </center>
    </div>
</head>
</html>